name: ci

on:
  push:
    branches:
      - main
      - develop
      - 'feature/*'
    tags:
      - v*

jobs:
  build-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: check pwd
        run: pwd

      - name: check ls
        run: cd ../../ && ls -al

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./deployment/dev/Dockerfile.dev
          push: true
          tags: chungdaeking/nestjs-api-server-sample:develop

  build-prod:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./deployment/prod/Dockerfile.prod
          push: true
          tags: chungdaeking/nestjs-api-server-sample:latest
